.btn-main, .btn-main-s {
  background-color: #0075FF;
  color: white;
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  border: solid 1px #0075FF;
}
.btn-main:hover, .btn-main-s:hover {
  background-color: white;
  color: #0075FF;
}
.btn-main-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.btn-sec, .btn-sec-s {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  color: black;
  background-color: transparent;
  border: none;
}
.btn-sec:hover, .btn-sec-s:hover {
  color: #888;
}
.btn-sec-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.main-menu {
  margin-bottom: 0;
}
.main-menu li {
  list-style: none;
  display: inline;
  font-size: 0.75rem;
  padding-left: 1rem;
  font-weight: 600;
}
.main-menu li a {
  color: black;
  text-decoration: none;
}
.main-menu li a:hover {
  text-decoration: underline;
}

.icon-sm i {
  color: #0075FF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  padding: 0.4rem 0.65rem;
  border-radius: 50%;
  font-size: 1.25rem;
}

.benefit {
  display: flex;
  flex-direction: column;
}
.benefit .icon {
  color: #0075FF;
  font-size: 7rem;
  text-align: center;
}
.benefit .description .title {
  font-size: 1.5rem;
  text-align: center;
}
.benefit .description .text {
  color: #888;
  font-weight: 600;
  text-align: center;
}
.benefit .cta {
  color: #0075FF;
  font-weight: 600;
  margin-top: 3rem;
  text-align: center;
}

.icon-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.icon-desc i {
  color: #0075FF;
  font-size: 10rem;
  padding: 0;
  text-align: center;
}
.icon-desc .title {
  margin-top: -1rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

html {
  min-width: 100vw;
}

body {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px #ddd;
  align-items: center;
  margin: auto;
}
.nav .nav-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px #ddd;
  align-items: center;
  margin: auto;
  max-width: 1010px;
}

.logo a img {
  max-width: 15rem;
}

.sec-home {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 3rem;
}
.sec-home .home-cta {
  flex: 1;
  max-width: 100%;
}
.sec-home .cta-text {
  color: #0075FF;
  font-weight: 600;
}
.sec-home .home-title {
  width: 20rem;
  font-size: 4rem;
  font-weight: 500;
}
.sec-home .home-img {
  padding-left: 8rem;
}

.sec-features, .sec-onboarding, .sec-benefits {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 3rem;
}
.sec-features .intro, .sec-features .sec-onboarding, .sec-onboarding .intro, .sec-onboarding .sec-onboarding, .sec-features .sec-benefits, .sec-onboarding .sec-benefits, .sec-benefits .intro, .sec-benefits .sec-onboarding, .sec-benefits .sec-benefits {
  text-align: center;
  padding-bottom: 2rem;
}
.sec-features .intro h3, .sec-features .sec-onboarding h3, .sec-onboarding .intro h3, .sec-onboarding .sec-onboarding h3, .sec-features .sec-benefits h3, .sec-onboarding .sec-benefits h3, .sec-benefits .intro h3, .sec-benefits .sec-onboarding h3, .sec-benefits .sec-benefits h3 {
  font-size: 1.8rem;
}
.sec-features .intro p, .sec-features .sec-onboarding p, .sec-onboarding .intro p, .sec-onboarding .sec-onboarding p, .sec-features .sec-benefits p, .sec-onboarding .sec-benefits p, .sec-benefits .intro p, .sec-benefits .sec-onboarding p, .sec-benefits .sec-benefits p {
  font-size: 0.8rem;
  color: #888;
}
.sec-features .features, .sec-onboarding .features, .sec-benefits .features {
  display: flex;
  justify-content: center;
  gap: 10rem;
  align-items: center;
  margin: auto;
}
.sec-features .features .text, .sec-onboarding .features .text, .sec-benefits .features .text {
  padding: 2rem 0;
  max-width: 40%;
  height: 35rem;
}
.sec-features .features .text .feature, .sec-onboarding .features .text .feature, .sec-benefits .features .text .feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2rem;
}
.sec-features .features .text .feature .description, .sec-onboarding .features .text .feature .description, .sec-benefits .features .text .feature .description {
  margin-left: 1rem;
  max-width: 30rem;
}
.sec-features .features .text .feature .description .description-title, .sec-onboarding .features .text .feature .description .description-title, .sec-benefits .features .text .feature .description .description-title {
  font-size: 1.25rem;
}
.sec-features .features .text .feature .description .description-text, .sec-onboarding .features .text .feature .description .description-text, .sec-benefits .features .text .feature .description .description-text {
  font-size: 1rem;
}
.sec-features .features .image, .sec-onboarding .features .image, .sec-benefits .features .image {
  padding-bottom: 5.5rem;
}
.sec-features .features .image img, .sec-onboarding .features .image img, .sec-benefits .features .image img {
  max-width: 45rem;
  max-height: 30rem;
}

.sec-benefits {
  border-top: 1px solid #ddd;
}
.sec-benefits .benefit-cards {
  width: 100%;
  padding: 0rem 2rem 2rem 2rem;
}

.sec-kpis {
  width: 100%;
  background-color: #0075FF;
  color: white;
  padding: 4rem;
}
.sec-kpis .kpi-container {
  max-width: 1100px;
  margin: auto;
}
.sec-kpis .kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: auto;
}
.sec-kpis .kpi .number {
  font-size: 3.5rem;
  font-weight: 600;
}
.sec-kpis .kpi .desc {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6666666667);
}

.sec-onboarding .steps {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.sec-onboarding .steps .step-separator {
  flex: 1;
  border-top: 2px solid #ddd;
  margin: 0 0.2rem;
}

.sec-footer-cta {
  background-color: #f4f8fe;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  /*background-image: url("../assets/img/cellphone.png");
  background-repeat: no-repeat;
  background-position: 85%;
  background-size: 30%;*/
}
.sec-footer-cta .footer {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.sec-footer-cta .footer .footer-cta {
  width: 50%;
}
.sec-footer-cta .footer .footer-cta .cta-title {
  font-size: 2.5rem;
  padding-bottom: 1.15rem;
}
.sec-footer-cta .footer .footer-cta .cta-description {
  font-size: 1.25rem;
  padding-bottom: 1.15rem;
}
.sec-footer-cta .footer .footer-img {
  width: 50%;
}
.sec-footer-cta .footer .footer-img img {
  width: 25rem;
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .sec-home {
    align-items: center;
    margin-left: 5rem;
  }
  .sec-home img {
    display: none;
  }
  .sec-onboarding .steps {
    flex-direction: column;
  }
  .sec-onboarding .steps .icon-desc .title {
    text-align: center;
  }
  .sec-footer-cta {
    text-align: center;
    justify-content: center;
    margin: 0;
  }
  .sec-footer-cta img {
    display: none;
  }
  .sec-footer-cta .footer {
    margin-left: 8rem;
    text-align: center;
  }
  .sec-footer-cta .footer .footer-cta {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */